
.DS_Store
/Lesson_1/Урок 1. Коды примеров/
/Lesson_1/Урок 1. Практическое задание/
/Lesson_1/Урок 1. Пример практического задания/
/venv/

.idea/
/Lesson_2/Студентам для решения домашнего задания/
/Lesson_2/Урок 2. Коды примеров/
/Lesson_2/Урок 2. Практическое задание/
/Lesson_2/Урок 2. Пример практического задания/
/Lesson_2/Урок 3. Пример практического задания/
/Lesson_3/Урок 3. Коды примеров/
/Lesson_3/Урок 3. Пример практического задания/
